.SelectCountry-wrapper {
    display: grid;
    justify-content: center;
}

.SelectCountry-select {
    @include font (regular);
    background: $grey-background;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey-background;
    background-position-x: 260px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: $grey-border;
    height: 60px;
    font-size: 14px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
    width: 300px;

    -webkit-appearance: none;

    &:focus-visible {
        outline: none;
    }

    &--flags {
        position: absolute;
        top: 50px;
        z-index: 0;
    }
}

.SelectCountry-select > option {
    color: $grey-border;
}

.SelectCountry-dropdown {
    @include font (regular);
    align-items: center;
    background: $grey-background;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey-background;
    background-position-x: 260px;
    border-radius: 10px;
    background-position-x: 260px;
    color: $grey-border;
    display: flex;
    font-size: 14px;
    height: 60px;
    width: 300px;
    position: relative;
    pointer-events: none;
    z-index: 100;

    img {
        width: 30px;
        padding: 20px;
    }
}

.SelectCountry-button {
    @include font (regular);
    background: $blue-background-header;
    border-radius: 10px;
    border: $grey-border;
    color: $white;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    width: 300px;

    &:hover {
        background: $blue-background-light;
        cursor: pointer;
    }
}

.SelectCountry-title {
    @include font(regular);
    color: $grey-border;
    font-size: 16px;
}

.SelectCountry-error {
    @include font(regular);
    color: $red;
    font-size: 12px;
    padding-top: 10px;
}

.SelectCountry-cointainer {
    position: relative;
}

.SelectCountry-button--disabled {
    @include font (regular);
    background: $grey-background;
    border-radius: 10px;
    border: $grey-border;
    color: $white;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    width: 300px;

    &:hover {
        background: $grey-background;
        cursor: not-allowed;
    }
}