body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.Content-wrapper {
	background: $white;
	margin: 0 auto;
	max-width: $content-wrapper-fullsize;
	width: $content-wrapper-fullsize;
}


.Main-Loading {
	display: flex;
	font-size: 40px;
	height: 500px;
	justify-content: center;
	
	img {
		width: 200px;
		height: 200px;
	}
	
	@include breakpoint(desktop) {
		align-items: center;
		display: flex;
		height: 600px;
	}
}

.Main-Loading--Home {
	display: flex;
	font-size: 40px;
	justify-content: center;
	
	img {
		width: 100px;
		height: 100px;
	}
	
	@include breakpoint(desktop) {
		align-items: center;
		display: flex;
	}
}