.Header-wrapper {
	align-items: center;
	background: $blue-background-header;
	display: flex;
	height: 60px;
	justify-content: flex-end;
	max-width: $content-wrapper-fullsize;
	position: fixed;
	width: $content-wrapper-fullsize;
	z-index: 99999;
}

.Header-currentCountry {
    align-items: center;
    display: flex;
	height: 60px;
	padding-right: 40px;

	img {
		width: 40px;
	}
}