@font-face {
  font-family: 'Kailasa';
	src: url('../fonts/kailasa.ttc');
}


@mixin font($weight: regular) {
  	@if $weight == regular {
		font-family: 'Kailasa', sans-serif;
	}
}

@mixin font($weight: bold) {
  	@if $weight == bold {
		font-family: 'Kailasa', sans-serif;
		font-weight: 400;
	}
}


@mixin breakpoint($breakpoint) {
	@if $breakpoint == 'mobile' {
		@media (max-width: $bp-medium - 1) {
			@content;
		}
	} @else if $breakpoint == 'tablet' {
		@media (min-width: $bp-medium) and (max-width: $bp-large - 1) {
			@content;
		}
	} @else if $breakpoint == 'desktop' {
		@media (min-width: $bp-large) and (max-width: $bp-large-x) {
			@content;
		}
	}
}
