// Size Resolution
$bp-small: 320px !default;
$bp-medium: 680px !default;
$bp-large: 1200px !default;
$bp-large-x: 1600px !default;

// Color Style
$black: #000000;
$blue-background-light: rgba(33, 150, 243, .85);
$blue-background-header: #031b27;
$grey-background: #E5E5E5;
$grey-border: #A0A0A0;
$white: #ffffff;
$yellow: #FFA71A;
$red: #dc2323;

$content-wrapper-fullsize: 100%;
$content-wrapper-large: 1080px;
$content-wrapper-medium: 680px;
$content-wrapper-mobile: 300px;

$content-wrapper-aside: 180px;