
.SearchPagination {
	display: flex;
	padding: 20px 0;
	margin-right: 40px;
	justify-content: flex-end;

	@include breakpoint(mobile) {
		margin-right: 0;
	}
}

.SearchPaginationItem {
	align-items: center;
	border-radius: 10px;
	background: $blue-background-header;
	display: flex;
	height: 40px;
	justify-content: center;
	text-align: center;
	margin: 0 0 0 20px;
	width: 100px;

	&:hover {
		background: $blue-background-light;
		color: $black;
	}
}

.SearchPaginationItem-image {
	width: 10px;
}

