.Search-container {
	max-width: 330px;
	position: relative;

	@include breakpoint(mobile) {
		margin-top: 20px;
	}
}

.SearchButton-input {
	border: 0;
	border-bottom: 1px solid $grey-background;
	background: none;
	color: $grey-border;
	cursor: pointer;
	font-size: 13px;
	height: 26px;
	width: 330px;

	@include breakpoint(mobile) {
		width: 250px;
	}

	&:focus {
		border: 0;
		border-bottom: 1px solid $black; 
		cursor: initial; 
		outline: 0;
	}
}

.Search-icon {
	right: 10px;
	top: 0;
	position: absolute;
}

.SearchHeader-content--title {
	align-items: center;
	display: grid;
	
	div {
		color: $grey-border;
		padding-top: 10px;
	}
}


.SearchHeader-content--buttons {
	display: flex;
}

.Search-title {
	color: $black;
	font-size: 30px;
	margin: 0;
}

.SearchHeader-content {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;

	@include breakpoint('mobile') {
		display: grid;
	}

	&--button {
		align-items: center;
		display: flex;
		max-width: 410px;

		@include breakpoint('mobile') {
			align-items: flex-end;
		}
	}

	&--add {
		max-width: 60px;
		padding-left: 20px;
	}
}

.Search-content {
    align-items: center;
    display: grid;
	height: 100vh;
}

.Search-content-product {
	display: flex;
	height: 100%;
}

.Search-content-product-items {
	height: auto;
	margin-left: 160px;
	padding: 100px 80px;
	width: 100%;

	@include breakpoint(mobile) {
		margin-left: 0;	
		padding: 100px 40px;
	}
}

.SearchButtonDownload {
	cursor: pointer;
	padding-left: 20px;
	width: 23px;
}