.SearchList {
    background: #fbf9f9;
    border-bottom: 1px solid $grey-border;
    border-radius: 5px;
    display: inline-grid;
    justify-content: center;
    max-height: 450px;
    margin-top: 40px;
    margin: 20px;
    padding: 20px 29px 0px 30px;
    position: relative;
    width: 23%;

    
    @include breakpoint(mobile) {
        margin: 0;
        width: 85%;
    }
}

.SearchList-item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    text-align: center;
}

.SearchList-thumbnail-container {
    text-align: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.SearchList-thumbnail {
    max-height: 200px;
    max-width: 200px;
}

.SearchList-item-title {
    @include font(bold);
    color: $black;
    font-size: 14px;
    height: 40px;
}

.SearchList-item-category {
    color: $grey-border;
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.SearchList-item-description {
    @include font(bold);
    font-weight: bold;
    color: $black;
    font-size: 14px;
}

.Modal-content-close {
    cursor: pointer;
    right: 20px;
    top: 20px;
    position: absolute;
}

.SearchList-item-buttom {
    align-items: center;
    background: $blue-background-header;
    border-radius: 10px;
    color: $white;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
        background: $grey-background;
        color: $blue-background-header;
    }
}

.SearchList-bestseller {
    @include font(bold);
    background: $yellow;
    color: $white;
    font-size: 14px;
    padding-left: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
}