.SearchListProduct-status {
  &--available {
    color: $blue-background-header;
  }
  &--unavailable {
    color: $red-status;
  }
  &--limit {
    color: $yellow-status;
  }
}

.SearchListProduct-circle {
  border-radius:50px;
  display: inline-block;
  height: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  width:10px;

  &--available {
    background: $blue-background-header;
  }
  &--unavailable {
    background: $red-status;
  }
  &--limit {
    background: $yellow-status;
  }
}

.SearchListProduct-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 105px;

  @include breakpoint(desktop) {
    width: 50px;
  }
}

.SearchListProduct-actions--img {
  cursor: pointer;
  width: 36px;

  @include breakpoint(desktop) {
    width: 20px;
  }
}