.SearchListGrid {
  @include font('regular');
  border-collapse: collapse;
  border-bottom: 1px solid $grey-border-table;
  height: 80px;
  width: 100%;
  
  th {
    background-color: $grey-background;
    color: $black;
    font-size: 20px;
    height: inherit;
    text-align: left;
    padding-left: 5px;

    @include breakpoint(desktop) {
      font-size: 14px;
    }
  }

  th:nth-child(1) {
      width:200px; 
  }
}

.SearchListGrid-head {
  &--row {
    height: 60px;
  }
}

.SearchListGrid--body {
  color: $black;
  font-size: 20px;
  height: 480px;

  @include breakpoint(desktop) {
    font-size: 14px;
	}
}

.SearchListGrid--cell {
  width: 150px;
}

.SearchListGrid-sort {
  cursor: pointer;
  display: flex;

  &--arrow {
    padding-left: 5px;
    padding-top: 2px;
    width: 13px;
  }
}