.SearchNotFound-textSearch {
    @include font(regular);
    font-size: 48px;
    font-weight: bold;
}

.SearchNotFound-title {
    @include font(regular);
    color: $black;
    font-size: 18px;
}

.SearchNotFound-containerButton--button {
    @include font(regular);
    font-size: 36px;
    text-decoration: underline;
    color: $grey-border;

    &:hover{
        color: $black;
        cursor: pointer;
    }
}