.AsideSearchCategory {
    background: $grey-background;
    color: $grey-border;
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 60px;
    width: $content-wrapper-aside;
    z-index: 1;

    @include breakpoint(mobile) {
        display: none;
    }
}

.AsideSearchCategory-container {
    padding: 20px 40px;
}

.AsideSearchCategory-title {
    @include font(bold);
    color: $black;
    display: block;
    font-size: 16px;
    padding-top: 20px;   
    padding: 40px 40px 20px;
}

.AsideSearchCategory-item {
    @include font(regular);
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 10px;
    
    &:hover {
        color: $black;
    }
}